.single-pages-metadata-block {
    .single-pages-metadata-title {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.single-pages-subtitle {
     margin-bottom: 20px;
}

.single-pages-footer {
    .black, .white {
        margin-right: 10px;
    }
}

.single-project-map {
    //margin:40px 0;
   .acf-map {
       height:400px;
    } 
}

.indirizzo-block {
    margin-bottom: 20px;
}
.left-column, .right-column {
    margin-bottom: 40px;
}
