.main-header-container {
  background-image: url('img/header.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 256px;
  position: relative;
}
.main-header-container .sc-written-logo-container {
  position: absolute;
  bottom: 10px;
}
.main-header-container .sc-written-logo-container > a {
  display: block;
  color: #fff;
}
.main-header-container .sc-written-logo-container > a h2 {
  margin-top: 5px;
}
.module-text {
  overflow: hidden;
  margin-bottom: 40px;
}
.single-pages .single-pages-header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}
