.main-header-container {
  background-image: url('img/header.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 256px;
  position: relative;
}
.main-header-container .sc-written-logo-container {
  position: absolute;
  bottom: 0;
}
.main-header-container .sc-written-logo-container > a {
  display: block;
  color: #fff;
}
