body {
    font-family: 'basic_sanslight';
}

h4, .h4 {
    font-family: 'basic_sanssemibold';
    font-size: 16px;
}

h2, .h2 {
    font-family: 'los_niches-scitalic';
    font-size: 34px;
}

h1, .h1 {
    font-family: 'los_niches-scitalic';
    font-size: 48px;
    &.sc-written-logo-inner {
        font-family: 'los_nichesregular';
        font-size: 76px;
    }
}

.titoletti {
    font-family: 'basic_sanssemibold';
    font-size: 16px;
}

@font-face {
    font-family: 'basic_sanslight';
    src: url('fonts/basicsans-light-webfont.eot');
    src: url('fonts/basicsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/basicsans-light-webfont.woff2') format('woff2'),
         url('fonts/basicsans-light-webfont.woff') format('woff'),
         url('fonts/basicsans-light-webfont.ttf') format('truetype'),
         url('fonts/basicsans-light-webfont.svg#basic_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'basic_sanslight_it';
    src: url('fonts/basicsans-lightit-webfont.eot');
    src: url('fonts/basicsans-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/basicsans-lightit-webfont.woff2') format('woff2'),
         url('fonts/basicsans-lightit-webfont.woff') format('woff'),
         url('fonts/basicsans-lightit-webfont.ttf') format('truetype'),
         url('fonts/basicsans-lightit-webfont.svg#basic_sanslight_it') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'basic_sansregular';
    src: url('fonts/basicsans-regular-webfont.eot');
    src: url('fonts/basicsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/basicsans-regular-webfont.woff2') format('woff2'),
         url('fonts/basicsans-regular-webfont.woff') format('woff'),
         url('fonts/basicsans-regular-webfont.ttf') format('truetype'),
         url('fonts/basicsans-regular-webfont.svg#basic_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'basic_sanssemibold';
    src: url('fonts/basicsans-semibold-webfont.eot');
    src: url('fonts/basicsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/basicsans-semibold-webfont.woff2') format('woff2'),
         url('fonts/basicsans-semibold-webfont.woff') format('woff'),
         url('fonts/basicsans-semibold-webfont.ttf') format('truetype'),
         url('fonts/basicsans-semibold-webfont.svg#basic_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'los_niches-scitalic';
    src: url('fonts/losniches-sc-italic-webfont.eot');
    src: url('fonts/losniches-sc-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/losniches-sc-italic-webfont.woff2') format('woff2'),
         url('fonts/losniches-sc-italic-webfont.woff') format('woff'),
         url('fonts/losniches-sc-italic-webfont.ttf') format('truetype'),
         url('fonts/losniches-sc-italic-webfont.svg#los_niches-scitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'los_nichesregular';
    src: url('fonts/losniches-webfont.eot');
    src: url('fonts/losniches-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/losniches-webfont.woff2') format('woff2'),
         url('fonts/losniches-webfont.woff') format('woff'),
         url('fonts/losniches-webfont.ttf') format('truetype'),
         url('fonts/losniches-webfont.svg#los_nichesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}