@footer-height:100px;
@footer-social-btn:30px;

.footer {
    background-color: @sc-footer;
    color:#fff;
    min-height: @footer-height;
    padding-top: 20px;
    .footer-left-bar {
        //display: flex;
        //align-items: baseline;
        .separator {
            padding-left: 5px;
            padding-right: 5px;
            display: none;
        }
        .footer-menu {
            > li {
                &:last-child {
                    display: none;
                }
                > a {
                    color:#fff;
                }
            }
            @media screen and (min-width:@screen-sm) {
                margin-left: 10px;
                margin-right: 32px;
            }
            @media screen and (max-width:@screen-sm) {
                margin-top: 10px;
                >li {
                    display: block;
                    width: 100%;
                    > a {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .foto-copyright {
        display: block;
        float: none;
        font-size: 12px;
    }
    .footer-text {
        //display: block;
        //width: 100%;
    }
    @media screen and (min-width:@screen-md) {
        .footer-left-bar {
            display: flex;
            align-items: baseline;
            float:left;
            .separator {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
            }
            
        }
    }
    @media screen and (max-width:667px) {
        .footer-text {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width:@screen-md) {
        //margin-left: 5px;
        //margin-right: 5px;
        .footer-left-bar {
            .separator {
                
            }
        }
        .footer-text {
            //display: block;
            //width: 100%;
            margin-bottom: 10px;
        }
        .navbar-nav {
            margin:0;
        }
    }
}

.social-footer {
    &.contacts {
        padding-left: 0;
        margin: 40px 0;
        > li {
            > a {
                background-color: @sc-primary;
            }
        }
    }
    > li {
        > a {
            background-color: #fff;
            border-radius: 50%;
            width: @footer-social-btn;
            height: @footer-social-btn;
            line-height: @footer-social-btn;
            display: block;
        }
    }
    .icon {
        color:#000;
        font-size: 22px;
    }
}