.sc-nav {
    background-color:@sc-primary;
    .nav {
        > li {
            > a {
                text-transform: uppercase;
                color:#000;
                .titoletti;
            }
        }
    }
}

