.main-header-container {
    background-image: url('img/header.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 256px;
    position: relative;
    .sc-written-logo-container {
        position: absolute;
        bottom: 10px;
        > a {
            display: block;
            color:#fff;
            h2 {
                margin-top: 5px;
            }
        }
        @media screen and (max-width:@screen-sm) {
            top: 50%;
            left: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 20px;
            }
        }
        @media screen and (max-width:@screen-xs) {
//            top: 50%;
//            left: 50%;
//            bottom: auto;
//            transform: translate(-50%, -50%);
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}

.module-text {
    overflow: hidden;
    margin-bottom: 40px;
}

.single-pages {
    .single-pages-header {
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px;
    }
}

.sc-payoff {
    background-color: @sc-primary;
    background-image: url('img/pattern.png');
    padding:40px 30px;
    position: relative;
    margin:20px 0;
    &.no-bg {
        background-image: none;
        padding:10px 20px;
        .white, .black {
            font-family: 'los_nichesregular';
            font-size: 22px;
            display: inline-block;
        }
    }
    &:before {
        content:"";
        position: absolute;
        width:10px;
        height: 100%;
        left:10px;
        top:0;
        background-color: #fff;
    }
    .white, .black {
        font-family: 'los_nichesregular';
        font-size: 44px;
        //display: block;
        text-transform: uppercase;
        @media screen and (max-width:@screen-sm) {
            font-size: 22px;
        }
    }
    .white {
        color: #fff;
    }
    .black {
        color: #000;
    }
}